In [1]:
import pandas as pd
import numpy as np

# Load the dataset from your 'data' folder
df = pd.read_csv('/Users/bts_ot7/Documents/college-football-predictor/data/cfb_box-scores_2002-2024.csv')

In [2]:
# 1. Look at the first few rows
print("--- First 5 Rows ---")
print(df.head())

# 2. Get a summary of all columns, their data types, and null counts
print("\n--- Data Info ---")
df.info()

# 3. Get a simple count of missing values for each column
print("\n--- Missing Value Counts ---")
print(df.isnull().sum())

--- First 5 Rows ---
   season  week        date  time_et game_type            away        home  \
0    2002   1.0  2002-08-22  7:30 PM   regular  Colorado State    Virginia
1    2002   1.0  2002-08-23  8:00 PM   regular    Fresno State   Wisconsin
2    2002   1.0  2002-08-24  2:30 PM   regular      Texas Tech  Ohio State
3    2002   1.0  2002-08-24  4:30 PM   regular      New Mexico    NC State
4    2002   1.0  2002-08-24  7:45 PM   regular   Arizona State    Nebraska

   rank_away  rank_home conf_away  ... int_away  int_home  pen_num_away  \
0        NaN        NaN       mwc  ...      NaN       NaN           NaN
1        NaN       25.0       wac  ...      NaN       NaN           NaN
2        NaN       13.0     big12  ...      NaN       NaN           NaN
3        NaN        NaN       mwc  ...      NaN       NaN           NaN
4        NaN       10.0     pac12  ...      NaN       NaN           NaN

   pen_yards_away  pen_num_home  pen_yards_home  possession_away  \
0             NaN           NaN             NaN              NaN
1             NaN           NaN             NaN              NaN
2             NaN           NaN             NaN              NaN
3             NaN           NaN             NaN              NaN
4             NaN           NaN             NaN              NaN

   possession_home  attendance   tv
0              NaN     57120.0  NaN
1              NaN     75136.0  NaN
2              NaN    100037.0  NaN
3              NaN     47018.0  NaN
4              NaN     77779.0  NaN

[5 rows x 58 columns]

--- Data Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18909 entries, 0 to 18908
Data columns (total 58 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   season                 18909 non-null  int64
 1   week                   18091 non-null  float64
 2   date                   18909 non-null  object
 3   time_et                18909 non-null  object
 4   game_type              18909 non-null  object
 5   away                   18909 non-null  object
 6   home                   18909 non-null  object
 7   rank_away              3384 non-null   float64
 8   rank_home              4227 non-null   float64
 9   conf_away              16768 non-null  object
 10  conf_home              18898 non-null  object
 11  neutral                18909 non-null  bool
 12  score_away             18909 non-null  int64
 13  score_home             18909 non-null  int64
 14  q1_away                18855 non-null  float64
 15  q2_away                18855 non-null  float64
 16  q3_away                18853 non-null  float64
 17  q4_away                18851 non-null  float64
 18  ot_away                18835 non-null  float64
 19  q1_home                18855 non-null  float64
 20  q2_home                18855 non-null  float64
 21  q3_home                18853 non-null  float64
 22  q4_home                18851 non-null  float64
 23  ot_home                18835 non-null  float64
 24  first_downs_away       17327 non-null  float64
 25  first_downs_home       17331 non-null  float64
 26  third_down_comp_away   17327 non-null  float64
 27  third_down_att_away    17327 non-null  float64
 28  third_down_comp_home   17331 non-null  float64
 29  third_down_att_home    17331 non-null  float64
 30  fourth_down_comp_away  17327 non-null  float64
 31  fourth_down_att_away   17327 non-null  float64
 32  fourth_down_comp_home  17331 non-null  float64
 33  fourth_down_att_home   17331 non-null  float64
 34  pass_comp_away         17327 non-null  float64
 35  pass_att_away          17327 non-null  float64
 36  pass_yards_away        17327 non-null  float64
 37  pass_comp_home         17331 non-null  float64
 38  pass_att_home          17331 non-null  float64
 39  pass_yards_home        17331 non-null  float64
 40  rush_att_away          17327 non-null  float64
 41  rush_yards_away        17327 non-null  float64
 42  rush_att_home          17331 non-null  float64
 43  rush_yards_home        17331 non-null  float64
 44  total_yards_away       17327 non-null  float64
 45  total_yards_home       17331 non-null  float64
 46  fum_away               17327 non-null  float64
 47  fum_home               17331 non-null  float64
 48  int_away               17327 non-null  float64
 49  int_home               17331 non-null  float64
 50  pen_num_away           17327 non-null  float64
 51  pen_yards_away         17327 non-null  float64
 52  pen_num_home           17331 non-null  float64
 53  pen_yards_home         17331 non-null  float64
 54  possession_away        17297 non-null  float64
 55  possession_home        17323 non-null  float64
 56  attendance             14706 non-null  float64
 57  tv                     13897 non-null  object
dtypes: bool(1), float64(46), int64(3), object(8)
memory usage: 8.2+ MB

--- Missing Value Counts ---
season                       0
week                       818
date                         0
time_et                      0
game_type                    0
away                         0
home                         0
rank_away                15525
rank_home                14682
conf_away                 2141
conf_home                   11
neutral                      0
score_away                   0
score_home                   0
q1_away                     54
q2_away                     54
q3_away                     56
q4_away                     58
ot_away                     74
q1_home                     54
q2_home                     54
q3_home                     56
q4_home                     58
ot_home                     74
first_downs_away          1582
first_downs_home          1578
third_down_comp_away      1582
third_down_att_away       1582
third_down_comp_home      1578
third_down_att_home       1578
fourth_down_comp_away     1582
fourth_down_att_away      1582
fourth_down_comp_home     1578
fourth_down_att_home      1578
pass_comp_away            1582
pass_att_away             1582
pass_yards_away           1582
pass_comp_home            1578
pass_att_home             1578
pass_yards_home           1578
rush_att_away             1582
rush_yards_away           1582
rush_att_home             1578
rush_yards_home           1578
total_yards_away          1582
total_yards_home          1578
fum_away                  1582
fum_home                  1578
int_away                  1582
int_home                  1578
pen_num_away              1582
pen_yards_away            1582
pen_num_home              1578
pen_yards_home            1578
possession_away           1612
possession_home           1586
attendance                4203
tv                        5012
dtype: int64

In [3]:
# Use .loc to find rows where rank_home is null and set that value to 26
df.loc[df['rank_home'].isnull(), 'rank_home'] = 26

# Do the same for the away team's rank
df.loc[df['rank_away'].isnull(), 'rank_away'] = 26

# Drop any rows that are missing a score
df.dropna(subset=['score_home', 'score_away'], inplace=True)

# --- Verification ---
# Check that the missing values for these columns are now zero
print("--- Missing values in rank and score columns after cleaning ---")
print(df[['rank_home', 'rank_away', 'score_home', 'score_away']].isnull().sum())

--- Missing values in rank and score columns after cleaning ---
rank_home     0
rank_away     0
score_home    0
score_away    0
dtype: int64

In [4]:
# Convert the 'date' column to a proper datetime type
df['date'] = pd.to_datetime(df['date'])

# Convert the score columns to whole numbers (integers)
df['score_home'] = df['score_home'].astype(int)
df['score_away'] = df['score_away'].astype(int)

# --- Verification ---
print("\n--- Data Types After Conversion ---")
df.info()

--- Data Types After Conversion ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18909 entries, 0 to 18908
Data columns (total 58 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   season                 18909 non-null  int64
 1   week                   18091 non-null  float64
 2   date                   18909 non-null  datetime64[ns]
 3   time_et                18909 non-null  object
 4   game_type              18909 non-null  object
 5   away                   18909 non-null  object
 6   home                   18909 non-null  object
 7   rank_away              18909 non-null  float64
 8   rank_home              18909 non-null  float64
 9   conf_away              16768 non-null  object
 10  conf_home              18898 non-null  object
 11  neutral                18909 non-null  bool
 12  score_away             18909 non-null  int64
 13  score_home             18909 non-null  int64
 14  q1_away                18855 non-null  float64
 15  q2_away                18855 non-null  float64
 16  q3_away                18853 non-null  float64
 17  q4_away                18851 non-null  float64
 18  ot_away                18835 non-null  float64
 19  q1_home                18855 non-null  float64
 20  q2_home                18855 non-null  float64
 21  q3_home                18853 non-null  float64
 22  q4_home                18851 non-null  float64
 23  ot_home                18835 non-null  float64
 24  first_downs_away       17327 non-null  float64
 25  first_downs_home       17331 non-null  float64
 26  third_down_comp_away   17327 non-null  float64
 27  third_down_att_away    17327 non-null  float64
 28  third_down_comp_home   17331 non-null  float64
 29  third_down_att_home    17331 non-null  float64
 30  fourth_down_comp_away  17327 non-null  float64
 31  fourth_down_att_away   17327 non-null  float64
 32  fourth_down_comp_home  17331 non-null  float64
 33  fourth_down_att_home   17331 non-null  float64
 34  pass_comp_away         17327 non-null  float64
 35  pass_att_away          17327 non-null  float64
 36  pass_yards_away        17327 non-null  float64
 37  pass_comp_home         17331 non-null  float64
 38  pass_att_home          17331 non-null  float64
 39  pass_yards_home        17331 non-null  float64
 40  rush_att_away          17327 non-null  float64
 41  rush_yards_away        17327 non-null  float64
 42  rush_att_home          17331 non-null  float64
 43  rush_yards_home        17331 non-null  float64
 44  total_yards_away       17327 non-null  float64
 45  total_yards_home       17331 non-null  float64
 46  fum_away               17327 non-null  float64
 47  fum_home               17331 non-null  float64
 48  int_away               17327 non-null  float64
 49  int_home               17331 non-null  float64
 50  pen_num_away           17327 non-null  float64
 51  pen_yards_away         17327 non-null  float64
 52  pen_num_home           17331 non-null  float64
 53  pen_yards_home         17331 non-null  float64
 54  possession_away        17297 non-null  float64
 55  possession_home        17323 non-null  float64
 56  attendance             14706 non-null  float64
 57  tv                     13897 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(46), int64(3), object(7)
memory usage: 8.2+ MB

In [5]:
# Define the columns you want to keep for your analysis
essential_columns = [
    'date',
    'away',
    'home',
    'rank_away',
    'rank_home',
    'score_away',
    'score_home',
]

# Create your new, clean DataFrame
df_clean = df[essential_columns].copy()

# --- Final Verification ---
# The final check: info should show 7 columns with no missing values
print("\n--- Final Clean DataFrame Info ---")
df_clean.info()

# Look at the final, clean product
print("\n--- Head of Final Clean DataFrame ---")
print(df_clean.head())

--- Final Clean DataFrame Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18909 entries, 0 to 18908
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        18909 non-null  datetime64[ns]
 1   away        18909 non-null  object
 2   home        18909 non-null  object
 3   rank_away   18909 non-null  float64
 4   rank_home   18909 non-null  float64
 5   score_away  18909 non-null  int64
 6   score_home  18909 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 1.0+ MB

--- Head of Final Clean DataFrame ---
        date            away        home  rank_away  rank_home  score_away  \
0 2002-08-22  Colorado State    Virginia       26.0       26.0          35
1 2002-08-23    Fresno State   Wisconsin       26.0       25.0          21
2 2002-08-24      Texas Tech  Ohio State       26.0       13.0          21
3 2002-08-24      New Mexico    NC State       26.0       26.0          14
4 2002-08-24   Arizona State    Nebraska       26.0       10.0          10

   score_home
0          29
1          23
2          45
3          34
4          48

In [6]:
# --- Final Verification Script ---

print("--- 1. Technical Summary of the Clean DataFrame ---")
# Check for correct data types and that Non-Null counts match total entries.
df_clean.info()

print("\n" + "="*50 + "\n") # Separator for clarity

print("--- 2. Final Check for Any Missing Values ---")
# This should show '0' for every column.
print(df_clean.isnull().sum())

print("\n" + "="*50 + "\n") # Separator for clarity

print("--- 3. Visual Sanity Check of the First 5 Rows ---")
# Visually inspect the data to see if it looks correct.
print(df_clean.head())

--- 1. Technical Summary of the Clean DataFrame ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18909 entries, 0 to 18908
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        18909 non-null  datetime64[ns]
 1   away        18909 non-null  object
 2   home        18909 non-null  object
 3   rank_away   18909 non-null  float64
 4   rank_home   18909 non-null  float64
 5   score_away  18909 non-null  int64
 6   score_home  18909 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 1.0+ MB

==================================================

--- 2. Final Check for Any Missing Values ---
date          0
away          0
home          0
rank_away     0
rank_home     0
score_away    0
score_home    0
dtype: int64

==================================================

--- 3. Visual Sanity Check of the First 5 Rows ---
        date            away        home  rank_away  rank_home  score_away  \
0 2002-08-22  Colorado State    Virginia       26.0       26.0          35
1 2002-08-23    Fresno State   Wisconsin       26.0       25.0          21
2 2002-08-24      Texas Tech  Ohio State       26.0       13.0          21
3 2002-08-24      New Mexico    NC State       26.0       26.0          14
4 2002-08-24   Arizona State    Nebraska       26.0       10.0          10

   score_home
0          29
1          23
2          45
3          34
4          48